/* Color Palet

Page Background:
Charcoal Gray (#2C2C2C)

Highlight for Header and Titles:
Deep Burgundy (#611427): 

Links:
Muted Cyan (#5BC0EB): 

Decoration (Separators):
Warm Gray (#A29F9F): 
*/

/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light background */
    color: #333; /* Dark text */
    /*max-width: 1000px;*/ /* Limit the width */
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

/* Section Styles */
section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #555;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
.language-selector {
    display: flex;
    align-items: center;
}

.language-selector label {
    color: #F5F5DC;
    margin-left: 10px;
   
}

.language-selector  select {
    color: #F5F5DC;
    margin-left: 10px;
    background-color: #222221;
    padding: 10px 0px 5px 0px;
    border: 0px;
    font-size: 1.5rem;
}


