/* Color Palet

Page Background:
Charcoal Gray (#2C2C2C)

Highlight for Header and Titles:
Deep Burgundy (#611427): 

Links:
Muted Cyan (#5BC0EB): 

Decoration (Separators):
Warm Gray (#A29F9F): 
*/

/* Global Styles */
body {
    font-family: 'Merriweather', serif; /* Use Merriweather for body text */
    background-color: #dcdad7; /* Charcoal Gray */
    color: #F5F5DC; /* Off White text */
    margin: 0 auto; /* Center the content */
    padding: 0;
    max-width: 1000px; /* Limit the width */
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
    background-color: #222221;
    font-family: 'Montserrat', sans-serif; /* Use Montserrat for titles and headers */
    color: #F5F5DC; /* Deep Burgundy for titles */
    font-size: 1rm;
}

/* Header Titles */
 h2, h3 {
    font-family: 'Montserrat', sans-serif; /* Use Montserrat for titles and headers */
    color: #611427; /* Deep Burgundy for titles */
}

/* Links */
a {
    color: #5BC0EB; /* Muted Cyan for links */
    text-decoration: none;
}

/* Decorative Separators */
hr {
    border: 1px solid #A29F9F; /* Warm Gray for separators */
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo-name img {
    margin-right: 15px;
}

.language-selector {
    display: flex;
    align-items: center;
}

.language-selector label {
    color: #F5F5DC;
    margin-left: 10px;
   
}

.language-selector  select {
    color: #F5F5DC;
    margin-left: 10px;
    background-color: #222221;
    padding: 10px 0px 5px 0px;
    border: 0px;
    font-size: 1.5rem;
}

/* Section Styles */
section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

/* Bio Section */
.bio-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bio-image img {
    border-radius: 50%;
    max-width: 200px;
}

.bio-text {
    flex: 1;
    margin-left: 20px;
}

/* Latest Novel Section */
.latest-novel img {
    display: block;
    max-width: 300px;
    margin-top: 20px;
}

/* Contact Form Styles */
.contact-form {
    text-align: center;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 10px 0;
}

.contact-form button {
    background-color: #F5F5DC;
    color: #228B22;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #d4d4b1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .bio-section {
        flex-direction: column;
        text-align: center;
    }

    .bio-text {
        margin-left: 0;
        margin-top: 20px;
    }

    .latest-novel img {
        max-width: 100%;
    }

    .contact-form input, .contact-form textarea {
        max-width: 100%;
    }
}
